@charset "utf-8";

/* base */
body {
  background-color: #2f3437;
}
a {
  cursor: pointer;
}
p {
  color: #ebebeb;
  font-size: 12px;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 400;
}
.num {
  font-family: 'Michroma', sans-serif;
}
.tag {
  background-color: #ebebeb;
  color: #2f3437;
  font-size: 14px;
  padding: 2ch;
  border-radius: 1ch;
}

.bg_2x {
  background-color: #4a9baa !important;
  color: #ffffff;
}
.c_2x {
  color: #4a9baa;
}
.bg_3x {
  background-color: #234d9f !important;
  color: #ffffff;
}
.c_3x {
  color: #234d9f;
}
.bg_4x {
  background-color: #9f3b2c !important;
  color: #ffffff;
}
.c_4x {
  color: #9f3b2c;
}
.bg_5x {
  background-color: #2e2969 !important;
  color: #ffffff;
}
.c_5x {
  color: #2e2969;
}
.bg_6x {
  background-color: #cb7a2e !important;
  color: #ffffff;
}

/* main/header/footer */
main {
  padding: 5vh 0 8.2ch;
}
header {
  width: 100%;
  height: 3.8vh;
  background-color: #00c2c4;
  border-radius: 0 0 1ch 1ch;
  position: fixed;
  top: 0;
  z-index: 10;
}
footer {
  width: 100%;
  height: 7vh;
  background-color: #ebebeb;
  border-radius: 1ch 1ch 0 0;
  position: fixed;
  bottom: 0;
  z-index: 11;
}



/* container */
.container {
  width: 100%;
  margin: 0 auto;
}

/* global_list */
.global_list {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 70px;
}
.global_list li {
  overflow: hidden;
  background-color: #595b5e;
  border-bottom: 1px solid #2f3437;
  padding: 1ch;
}
.global_list a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content :space-between;
  padding: 0 3ch;
}
.global_list a:hover {
  background-color: rgba( 255, 255, 255, 0.3);
}

.global_list p {
  font-size: 4vw;
  display: flex;
  align-items: center;
}
.global_list span + span {
  margin: 0 1ch;
}








@media screen and (min-width: 600px) {
  .global_list p {
    font-size: 22px;
  }
  


}
