/* base */
body {
  background-color: #2f3437;
}
p {
  color: #ebebeb;
  font-size: 64px;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 100;
}
.num {
  font-size: 70px;
}

/* container */
.container {
  width: 100%;
  padding: 0 8px;
  margin: 0 auto;
}

/* global_list */
.global_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.global_list.top {
  grid-auto-rows: 25vh;
}
.global_list.lv_top {
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 25vh;
}


.global_list li a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1ch;
}

